extends layout.pug

block content
    h1 Books

    p
    a.button(href='/book/new') Create New Book

    form(action="book/search", method="post", id="search")
        input.search(name="title", type="text", id="title", placeholder="Search by title")
        input.search(name="author", type="text", id="author", placeholder="Search by author")
        input.search(name="genre", type="text", id="genre", placeholder="Search by genre")
        input.search(name="year", type="text", id="year", placeholder="Search by year")
        input(type="submit", value="Search", id="search-button")

    table
        thead
            tr
                th Title
                th Author
                th Genre
                th Year
        tbody
        each book in books
            tr 
                td
                    a(href="/book/" + book.id)=book.title
                td= book.author
                td= book.genre
                td= book.year
