extends layout.pug

block content
    h1 Books

    if !search
        p
        a.button(href='/book/new') Create New Book
        form(action="book/search", method="post", id="search")
            input.search(name="search", type="text", id="search", placeholder="Search")
            input(type="submit", value="Search", id="search-button")
    else 
        a(href="/") Back

    table
        thead
            tr
                th Title
                th Author
                th Genre
                th Year
        each book in books
            tr 
                td
                    a(href="/book/" + book.id)=book.shortDescription()
                td= book.author
                td= book.genre
                td= book.year
